.env

AIIANS_KDSH_2026_Documentation.md

.KDSH-venv/

pathway_app/__pycache__/app.cpython-310.pyc

src/__pycache__/config.cpython-310.pyc
src/__pycache__/decomposer.cpython-310.pyc
src/__pycache__/reasoner.cpython-310.pyc

KDSH-venv/

output/

evaluate.py

C:\Users\ELaunch\OneDrive\Desktop\AIIANS_KDSH_2026\src\__pycache__\
C:\Users\ELaunch\OneDrive\Desktop\AIIANS_KDSH_2026\pathway_app\__pycache__\